<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.ttms.mapper.PlanMapper">
    <resultMap id="BaseResultMap" type="com.xupt.ttms.pojo.Plan">
        <id property="id" column="id"></id>
        <result property="pName" column="p_name"></result>
        <result property="mId" column="m_id"></result>
        <result property="hId" column="h_id"></result>
        <result property="startDate" column="p_startTime" javaType="String"></result>
        <result property="endDate" column="p_endTime"  javaType="String"></result>
        <result property="mName" column="m_name"></result>
        <result property="hName" column="h_name"></result>
        <result property="price" column="price"></result>
<!--        <association property="hName" -->
    </resultMap>
    <insert id="insert">
        insert into plan (id,p_name,m_id,p_startTime,h_id,p_endTime,price) values (null,#{plan.pName},#{plan.mId},#{plan.startDate},#{plan.hId},#{plan.endDate},#{plan.price});
    </insert>
    <update id="updatePlan">
        update plan
        <where>
            <if test="plan.p_name!=''">
            and set p_name = plan.p_name
            </if>
            <if test="plan.mName!=''">
            and set m_id = (select id from movie where m_name = plan.mName)
            </if>
            <if test="plan.hName!=''">
            and set h_id = (select id from hall where h_name = plan.hName)
            </if>
            <if test="plan.startDate!=''">
            and set p_startTime = plan.startDate
            </if>
            <if test="plan.endDate!=''">
            and set p_endTime = plan.endDate
            </if>
            where id = plan.id
        </where>
    </update>

    <delete id="deletePlanByIds">
        delete from plan where id in (#{ids});
    </delete>
    <select id="getAllPlansBymID" resultMap="BaseResultMap">
        select id,p_name,m_id,p_startTime,p_endTime,h_id,
               (select m_name from movie where id = #{mId}) as m_name,
               (select m_price from movie where id = #{mId}) as price,
               (select h_name from hall where id in (select h_id from plan where m_id = #{mId})) as h_name
        from plan
        where m_id = #{mId}
        <if test="startDate!= null and startDate!= ''">
            and p_startTime &lt;=#{startDate}
        </if>
        <if test="endDate!= null and endDate!= ''">
            and p_endTime>=#{endDate}
        </if>
        <if test="pName!= null and pName!= ''">
            and p_name like concat('%',#{pName},'%')
        </if>

    </select>
    <select id="getMovieTimeBymID" resultType="java.lang.Integer">
        select m_length from movie where id = #{mId}
    </select>
    <select id="getHallIDByName" resultType="java.lang.Integer">
        select id from hall where h_name = #{name};
    </select>
    <select id="getMovieIDByName" resultType="java.lang.Integer">
        select id from movie where m_name = #{name};
    </select>
    <select id="getPriceBymId" resultType="java.lang.Double">
        select m_price from movie where id = #{mId};
    </select>
    <select id="getPlanByName" resultType="com.xupt.ttms.pojo.Plan">
        select id from plan where p_name = #{name};
    </select>
</mapper>