<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.ttms.mapper.SeatMapper">

    <resultMap id="BaseResultMap" type="com.xupt.ttms.pojo.Seat">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="studioId" column="studio_id" jdbcType="INTEGER"/>
            <result property="seatRow" column="seat_row" jdbcType="INTEGER"/>
            <result property="seatColumn" column="seat_column" jdbcType="INTEGER"/>
            <result property="seatStatus" column="seat_status" jdbcType="SMALLINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,studio_id,seat_row,
        seat_column,seat_status,create_time,
        update_time,is_deleted
    </sql>
    <select id="selectSeatByOrderId" resultType="com.xupt.ttms.pojo.Seat">
        select s.id, s.seat_column, s.seat_row
        from seat s
        where s.id in
              (select seat_id
               from ticket
               where order_id = #{id})
    </select>
</mapper>
